
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<script src="~/AngularJS/ViewBranch/jsBranchController.js"></script>
<script src="~/AngularJS/AjsFactory/AjsFactory.js"></script>
<div ng-controller="ViewBranchController">
    <div class="col-md-12">
        <h3>Branch Details</h3>
        <label>Search Branch Name:</label>
        <input id='filter' class='k-textbox' />
        <br /><br />
        <div id="grid" class="k-content">
        </div>

    </div>

    <br />



</div>





