
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


        <div class="content text-center">

            <h1 class="display-1 weight-400 mt-5" style="font-size: 10rem;">404</h1>
            <p class="lead mb-2">The Page you requested does not exist</p>
            <p class="text-muted small">Application Under construction...!</p>
            <a href="/Home/Index" class="btn btn-primary px-4 mt-4 rounded">Go Back Home</a>

        </div>
   