
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<script src="~/AngularJS/AddMember/jsAddMemberController.js"></script>
<script src="~/AngularJS/AjsFactory/AjsFactory.js"></script>


<div ng-controller="AddMemberController" ng-init="form.paidby=true; form.BranchName = 2">

    <div class="row page-tilte align-items-center">
        <div class="col-md-auto">


        </div>
        <div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
            <div class="controls d-flex justify-content-center justify-content-md-end">

            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header">
                <h4> Add Member </h4>
            </div>

            <div class="card-body">

                <form name="formx" ng-submit="submitForm()" ng-init="form.BranchId=2">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputmember4">Member Id</label>
                            <input type="text" class="form-control" id="txtMember" placeholder="Member Id" ng-disabled="true" ng-model="form.MemberId" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputreceiptno">Receipt No</label>
                            <input type="text" class="form-control" id="txtreceiptno" placeholder="Receipt No" ng-disabled="false" ng-model="form.ReceiptNo" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputfirst4">Member First Name</label>
                            <input type="text" class="form-control" id="txtFirstName" placeholder="First Name" required ng-model="form.FirstName" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputlast4">Member Last Name</label>
                            <input type="text" class="form-control" id="txtLastName" placeholder="Last Name" ng-model="form.LastName" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputDateofbirth">Date Of Birth</label>
                            <input type="date" class="form-control" ng-model="form.dateofbirth" ng-change="getAge(form.dateofbirth)" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputgender">Gender</label>
                            <select class="form-control" ng-options="item.id as item.name for item in Genderx" ng-model="form.Gender" required>
                                <option value="">Select Gender...</option>
                            </select>
                        </div>
                        @*<div class="form-group col-md-1">
                           Renewal <input type="checkbox" class="form-control" ng-model="form.renewal"/>
                    </div>*@

                        <div class="form-group col-md-6">
                            <label for="inputage">Age</label>
                            <input type="number" class="form-control" id="txtage" ng-model="form.age" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputQualification">Qualification</label>
                            <select class="form-control" ng-options="item.id as item.name for item in Qualificationx" ng-model="form.qualification">
                                <option value="">Select Qualification...</option>

                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputReligion">Religion</label>
                            <select id="txtreligion" class="form-control" ng-model="form.religion" ng-options="item.id as item.name for item in Religionx">
                                <option value="">Select Religion...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputmaritalstatus">Marital Status</label>
                            <select id="txtmaritalstatus" class="form-control" required ng-model="form.maritalstatus" ng-options="item.id as item.name for item in maritalstatusx">
                                <option value=""> Select Marital Status...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputBranch4">Branch Name</label>
                            <select class="form-control" required ng-model="form.BranchId" ng-options="item.Pkey_Branch_id as item.Branch_name for item in branchLst">
                                <option value="">Select Branch... </option>
                            </select>
                            @*<select class="form-control" id="ddlBranch" ng-model="form.BranchName">
                            <option value="">Select Branch...</option>
                            <option value="1">Maharastra</option>
                            <option value="2">Madhya Pradesh</option>
                            <option value="3">Gujrat</option>
                        </select>*@
                        </div>

                        <div class=" form-group col-md-6">
                            <label for="inputprofession">Profession</label>
                            <select id="txtprofession" class="form-control" ng-model="form.profession" ng-options="item.Pkey_Professional_QualificationId as item.professional_qualifications for item in profQualiLst">
                                <option value="">Select Profession...</option>
                            </select>

                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputcategory">Category</label>
                            <select class="form-control" id="txtcategory" ng-model="form.category" ng-change="fillpaid(form.category)" required ng-options="itemx as itemx.categoryname for itemx in Categories">
                                <option value=""> --Select--</option>
                            </select>
                            @*<select id="txtcategory" class="form-control" ng-change="getAmount(form.category)" ng-model="form.category">
                            <option value=""> Select Category...</option>
                            <option value="70000.00">Full Member</option>
                            <option value="5000.00">Associate Member</option>
                            <option value="3000.00">Student Member</option>
                            <option value="4000.00">Youth Member</option>
                            <option value="3500.00">Transient Member</option>
                        </select>*@
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputamount">Amount</label>
                            <input type="number" placeholder="00.0" class="form-control" id="txtamount" required ng-model="form.amount" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputpaidby">Paid By</label>
                            <select class="form-control" ng-options="item.id as item.name for item in paidbyx" ng-model="form.paidby">
                                <option value="">Select Type...</option>

                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputchequeno">cheque Number/DD Number</label>
                            <input type="text" class="form-control" ng-disabled="form.paidby != 2" id="txtchequeno" placeholder="Cheque No" ng-model="form.chequeno" />
                        </div>

                        <div class="form-group col-md-6" ng-hide="form.paidby != 2">
                            <label for="inputbankname">Bank Name</label>
                            <input type="text" class="form-control" id="txtbankname" placeholder="Bank Name" ng-model="form.bankname" />
                        </div>

                        <div class="form-group col-md-6" ng-hide="form.paidby != 2">
                            <label for="inputpayDate"> Cheque Date/DD Date</label>
                            <input type="date" class="form-control" ng-model="form.paydate" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputGSTNo">GST No.</label>
                            <input type="text" class="form-control" id="txtGSTNO" placeholder="GST Number" ng-model="form.gstno" />
                        </div>

                        <div class="form-group col-md-3">
                            <label for="inputstartdate">Start Date</label>
                            <input type="date" class="form-control" ng-model="form.startdate" ng-change='checkErr(form.startdate,form.expirydate)' />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputExpiryDate">Expiry Date</label>
                            <input type="date" class="form-control" ng-model="form.expirydate" ng-change='checkErr(form.startdate,form.expirydate)' />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputoffTelNo">Office Tel No.</label>
                            <input type="text" class="form-control" id="txtofctelno" placeholder=" Office Tel No." ng-model="form.officetelno" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputresidentialtelno">Residential Tel No.</label>
                            <input type="text" class="form-control" id="txtresidentialtelno " placeholder="Residential Tel No." ng-model="form.residentialtelNo" />
                        </div>

                        <div class="form-group  col-md-6">
                            <label for="inputspecial interest">Special Interest </label>
                            <select class="form-control" id="txtspecialinterest " ng-model="form.specialinterest" ng-options="item.pkey_special_interests_id as item.special_interests for item in specialinterestLst">
                                <option value="">Select Special Interest </option>
                                @*<option value="1">Basketball</option>
                            <option value="2">Table Tennis</option>
                            <option value="3">Swimming</option>
                            <option value="4">Fitness Centre</option>
                            <option value="5">Roller Skating</option>*@
                            </select>
                            <br />

                            @*<button type="reset" class="btn btn-primary"> Delete</button>*@
                        </div>

                        <br />
                        <br />
                        <div class="form-group col-md-6">
                            <label for="inputpanno">PAN No. </label>
                            <input type="text" class="form-control" id="txtpanno" placeholder="PAN Number" ng-model="form.panno" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4"> Email</label>
                            <input type="email" class="form-control" id="txtBranchEmail" placeholder="Email" ng-model="form.Email" required />


                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPhone4">Phone No.</label>
                            <input type="number" class="form-control" id="txtPhoneNumber" placeholder="Phone Number" maxlength="10" ng-model="form.Phone" required />
                        </div>
                    </div>
                    <div class="form-row">

                        @*<div class="form-group col-md-6">
                        <label for="inputActivity4">Activity</label>
                        <select class="form-control" id="ddlActivity" ng-model="form.Activity">
                            <option value="">--Select-Activity--</option>
                            <option value="1">Basketball</option>
                            <option value="2">Table Tennis</option>
                            <option value="3">Swimming</option>
                            <option value="4">Fitness Centre</option>
                            <option value="5">Roller Skating</option>
                        </select>
                    </div>*@
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-9">
                            <label for="inputAddress">Permanent Address</label>
                            <input type="text" class="form-control" id="txtAddress" placeholder="1234 Main St" ng-model="form.Address1">
                        </div>


                        <div class="form-group col-md-5">
                            <label for="inputCity">City</label>
                            <select class="form-control" id="txtcity" ng-model="form.pCity" ng-options="item.pkey_CityId  as item.CityName for item in citydata">
                                <option value="">Select City...</option>
                            </select>

                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="txtState" class="form-control" ng-model="form.pState" ng-options="item.pkey_state_id as item.state_name for item in statedata">
                                <option value="">Select State...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputpin">Pin Code</label>
                            <input type="text" class="form-control" id="txtpin" placeholder="Enter Pin Code" ng-model="form.pZip">
                        </div>
                    </div>
                    <br />  <br />

                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" ng-click="CoppyAddress()" ng-model="chkCoppy" id="customControlValidation1">
                        <label class="custom-control-label" for="customControlValidation1">Same As Above</label>
                        <div class="invalid-feedback">Example invalid feedback text</div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-9">
                            <label for="inputAddress2">Local Address </label>
                            <input type="text" class="form-control" placeholder="Apartment, studio, or floor" ng-model="form.LAddress2">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="inputCity">City</label>

                            <select class="form-control" id="txtcity" ng-model="form.LCity" ng-options="item.pkey_CityId as item.CityName for item in citydata">
                                <option value="">Select City...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="txtState" class="form-control" ng-model="form.LState" ng-options="item.pkey_state_id as item.state_name for item in statedata">
                                <option value="">Select State...</option>

                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputpin">Pin Code</label>
                            <input type="text" class="form-control" id="txtpin" placeholder="Enter Pin Code" ng-model="form.LZip">
                        </div>
                    </div>
                    <br />  <br />
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customControlValidation2" ng-click="CoppyAddress2()" ng-model="chkCoppy2">
                        <label class="custom-control-label" for="customControlValidation2">Same As Above</label>
                        <div class="invalid-feedback">Example invalid feedback text</div>
                    </div>
                    <div class="form-group col-md-9">
                        <label for="inputAddress2">Office/School/College Address </label>
                        <input type="text" class="form-control" id="txtAddress2" placeholder="Apartment, studio, or floor" ng-model="form.Address3">
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputCity">City</label>

                            <select class="form-control" id="txtcity" ng-model="form.City" ng-options="item.pkey_CityId as item.CityName for item in citydata">
                                <option value="">Select City...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="txtState" class="form-control" ng-model="form.State" ng-options="item.pkey_state_id as item.state_name for item in statedata">
                                <option value="">Select State...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputpin">Pin Code</label>
                            <input type="text" class="form-control" id="txtpin" placeholder="Enter Pin Code" ng-model="form.Zip">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputcorrespondenceaddress">Correspondence Address</label>

                        <select id="txtmaritalstatus" class="form-control" required ng-model="form.correspondenceaddress" ng-options="item.id as item.name for item in CorresAddrx">
                            <option value="">Select Type...</option>


                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>


                </form>

            </div>
            {{paidbyx}}
        </div>
        {{form.category}}
    </div>
    {{branchLst}}
</div>

