
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<script src="~/AngularJS/ViewMember/jsViewMember.js"></script>
<script src="~/AngularJS/AjsFactory/AjsFactory.js"></script>
<div ng-controller="ViewMemberController">
    <div class="col-md-12">
        <h3>Member Details</h3>
        <label>Search Member Name:</label>
        <input id='filter' class='k-textbox' />
        <br /><br />
        <div id="grid" class="k-content">
        </div>

    </div>

    <br />



</div>






